header{
  display: block;
}
#index{
background-image: url(../Imagens/capa.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
.index-conteudo{
  text-align: center;
}
#voltar{
  font-size: 30px;
}
#topo{
  font-size: 20px;
}
nav{
  background-color: lightgrey;
}
#ADS{
  background-image: url(../Imagens/ADS.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#cardADS{
  background-color: rgba(169, 169, 169, 0.9);
  color: black;
}

#dazaranha{
  background-image: url(../Imagens/Dazaranha/show.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#games{ 
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

.Filmes{
  background-image: url(../Imagens/Pixels/pacman.jpg);
  background-size: 100%;  
  background-repeat: no-repeat;
  color: white;
}

#Filmes2{
  /*background-image: url(../Imagens2/ReiLeão/background.jpg);
  background-size: 100%;  
  background-repeat: no-repeat;*/
  color: white;
}

#card{
  color: white;
  margin-top: 3%;
  background-image: url(../Imagens/Pixels/LogoFilme.jpg);  
  background-repeat: no-repeat; 
  background-size: cover;  
  background-position: top
}

#card2{
  background-image: url(../Imagens2/ReiLeão/background.jpg);  
  background-repeat: no-repeat; 
  background-size: cover;  
  background-position: top
}

a:hover{
  background-color: rgb(134, 134, 134);
}

#corpoLogin{
  background-image: url(../Imagens/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#cardLogin{
  background-color: white;    
  position: absolute;
  left: 40%;
  top: 30%;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.botaoLogin{
  margin-top: 40px;
  text-align:center;
}
.Logo-Menor {
  text-align: center;
}

/* Css formulário */

#corpoFormulario{
  background-image: url(../Imagens/Formulário.jpg);  
}
#form2{
  background-color: white;    
  position: absolute;
  left: 38%;
  top: 30%;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

#ff{
  background-image: url(../Imagens2/FooFighters/background.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

