#Login {
    background-color: floralwhite;
    background-image: url('../Content/Img/AviãoCmão.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 5;
}
#login-div { 

    background-color: white;    
    position: absolute;
    left: 40%;
    top: 30%;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.field-validation-error {
    color: red;
}

.Logo-Menor {
    text-align: center;
}
#areaRestrita {
    text-decoration: underline;
    text-align: center;

}
.botaoLoginClean{
    text-align:center;
}

body{
    background-image:url(../Content/Img/Mapas/Mapa3.png);   
    
}
body a {
    color:#000;
    font-size:18px;
}
body .card {
    background-image:none;
}
.card {
    background-color: #dcf2ff;
}
#seguradoras{
    background-image:none;
}
#formViajante{
    font-size:20px;
}
#camposPagamento{
    font-size:20px;
}
.fontLetra{
    font-size:20px;
}

