@model SeguroViagem.ViewModel.ViajanteViewModel
@{
    ViewBag.Title = "Viajante";
}


<div class="card">
    <div class="card-body">
        <form action="/Escolha/Prosseguir">
            <h2 style="text-align:center">Dados do Viajante:</h2>
            <br />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputCpf">CPF</label>
                    <input type="text" class="form-control" id="inputCpf">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputNascimento">Data de Nascimento</label>
                    <input type="date" class="form-control" id="inputNascimento" placeholder="dd-mm-aa">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputSexo">Sexo</label>
                    <select id="inputSexo" class="form-control">
                        <option selected>Escolha</option>
                        <option>Masculino</option>
                        <option>Feminino</option>
                        <option>Outros</option>
                    </select>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputCep">CEP</label>
                    <input type="text" class="form-control" id="inputCep" placeholder="00000000">
                </div>
                <div class="form-group col-md-8">
                    <label for="inputEndereço">Endereço</label>
                    <input type="text" class="form-control" id="inputEndereço">

                </div>
                <div class="form-group col-md-1">
                    <label for="inputNº">Nº</label>
                    <input type="text" class="form-control" id="inputNº" name="Cotacao.Adress" placeholder="30">
                </div>
                
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputComplemento">Complemento</label>
                    <input type="text" class="form-control" id="inputComplemento" name="Cotacao.Adress" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputBairro">Bairro</label>
                    <input type="text" class="form-control" id="inputBairro" name="Cotacao.Adress" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputEstado">Estado</label>
                    <input type="text" class="form-control" id="inputEstado" name="Cotacao.Adress" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCidade">Cidade</label>
                    <input type="text" class="form-control" id="inputCidade" name="Cotacao.Adress" placeholder="">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="Cotacao.Adress" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputContato1">Contato Telefônico</label>
                    <input type="number" class="form-control" id="inputContato1" name="Cotacao.Adress" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputContato2">Contato Telefônico 2</label>
                    <input type="number" class="form-control" id="inputContato2" name="Cotacao.Adress" placeholder="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputProfissao">Profissão</label>
                    <input type="text" class="form-control" id="Profissão" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Pagamento</button>
        </form>
    </div>
</div>





